.container{
    margin: 0px;
    padding: 0px;

}
body{
    height: 100vh;
    background: blueviolet;
}

.container{
    border:2px solid white;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    /* flexbox code here  */
    /* by default it is rows  */
    display: flex;
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    justify-content: center;
    /* justify-content: space-around;
    justify-content: space-between;
    flex-wrap: wrap;
*/
    align-items: center;
    align-content: stretch; 
    /* this makes the content stretched 
    across the whole container if height 
    of child no provided*/

}

.child{
    background: red;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 5px;
    




}

.special{
    order: 1;
    /* by default order of everything is 0 
    we use this to reorder the elements */
    align-self: flex-end;
    flex-grow: 4;
    /* flex-shrink:;
    flex-basis is the initial size of the element */
    
}