
body :is(section, article, nav, aside) :is(div, h1, h2, h3, h4, h5, h6) {
    color: blueviolet;
}
/* we use the opposite :not() to ignore a specific class but apply style to the rest */

/* befor and after selector  */


/* variable in css */
:root{
    --main-color: blueviolet;
}

p{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: var(--main-color);
}

p::before {
    content: "Before - ";
    color: tomato;
}
p::after {
    content: " - After";
    color: tomato;
}