@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


p{
    line-height:1.5;
    font-size:16px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: normal;
    /* letter-spacing: ; */
    text-align: center;
    text-decoration:underline;
    color: blue;
    cursor: pointer;
    font-weight: bold;
}
p.one{
    /* adding fonts from google fonts 
    copy paste the import linkat top from google fonts */
    font-family: 'Libre Baskerville', serif;
    color: red;
}

div{
    background-color: greenyellow;
    height: 100vh;
    background-image: url("https://www.shutterstock.com/image-photo/beautiful-girl-sitting-on-stones-260nw-385982059.jpg");
    /* to make image not repeat  */
    background-repeat: no-repeat;
    background-size: cover;/*ccontain makes it fit in the div*/
    background-position: center;/*specify any position you want*/
    /* background-attachment: fixed;makes the image fixed when scrolling */
    background-attachment: scroll;/*default value*/


}

div{

    /* gradients */
    background-color: greenyellow;
    height: 100vh;
    /* radial gradient is like circular and linear is top to bottom */
    background-image: linear-gradient(/*to left/right*/rgba(0, 0, 255, 0.151), rgba(0, 128, 128, 0.473)), url("https://www.shutterstock.com/image-photo/beautiful-girl-sitting-on-stones-260nw-385982059.jpg");
    /* to make image not repeat  */
    background-repeat: no-repeat;
    background-size: cover;/*ccontain makes it fit in the div*/
    background-position: center;/*specify any position you want*/
    /* background-attachment: fixed;makes the image fixed when scrolling */
    background-attachment: scroll;/*default value*/

    /* filter: blur(2px); */
    /* filter: brightness(50%);makes the image dark */
    /* filter: contrast(200%);makes the image more clear */
    /* filter: grayscale(100%);makes the image black and white */
    /* filter : saturate(20%) */
}


/* 
NOTE 
class="one two three"
p.one {} works 
class is reusable and supports multiple elements
idd is unique and supports only one element */


/* need to read documentation of selection from w3 schools */


.hover:hover{
    color: orange;
    background-color: black;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
      
}

p.block{
    display: block;
    background-color: lightblue;
    height:60px;
}

span.inline{
    background-color: lightgreen;
    height:60px;
    /* weight and height have no effect untill we display the block*/
    display: block;
    
}

