/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body setup */
body {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* align-items instead of incorrect align-self */
    height: 100vh;
}

/* Container styling */
.container {
    background: rgba(255, 0, 204, 0.337);
    width: 100%; /* Ensures full width */
}

/* Image background styling */
.container .img {
    background-image:linear-gradient(rgba(255, 255, 0, 0.148), rgba(34, 80, 178, 0.246)), url("image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    /* mix-blend-mode: multiply;
    mix-blend-mode: lighten;*/
    /* opacity */
    /* mix-blend-mode: color-dodge;
    mix-blend-mode: difference;
    mix-blend-mode: exclusion;
    mix-blend-mode: hue;
    mix-blend-mode: saturation;
    mix-blend-mode: color;
    mix-blend-mode: luminosity;  */
    mix-blend-mode: overlay;

    
}
